$primary: #e67e22;
$font-family-base: 'Microsoft JhengHei', 'PingFang TC', Arial, sans-serif;




$my-color: teal;
$my-link-color: #e67e22;

.demo-scss2 {
    color: $my-color;

    a {
        color: $my-link-color;
        font-size: 1.5rem;
    }
}

@import "../bootstrap-5.3.6/scss/bootstrap.scss";